.category {
  height: 450px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 3px 3px 5px grey;

  &-name {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    h1 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: unset !important;
    }
  }

  &-img {
    height: 85%;
    display: flex;
    align-items: center;
    padding: 15px;
    img {
      border-radius: 5px;
      width: 100%;
      max-height: 100%;
    }
  }
}
